.header-bg {
    background-color: hsl(18, 92%, 95%);
}

.max-width {
  max-width: 1220px;
}

.no-col-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.price-old {
  text-decoration: line-through;
}

/* Sign in button and its drop down items */

.dropdown-menu {
    min-width: 7rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.1rem;
}

.sign-in-button {
    background-color: hsl(163, 38%, 62%);
    border: none;
    text-decoration: none;
    color: white;
}

.dropdown-divider {
    margin: 0.2rem 0;
}

.dropdown-item {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
}

.fa-bars{
    color: #888;
}

.form-control {
    height: calc(1em + 1rem + 2px);
    padding: 0.1rem 0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.btn-edit {
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
    text-decoration: none;
    border: none;
}

.btn {
  border-radius: 0.1rem;
}

.input-group-append {
    margin-left: -9px;
}

.form-inline {
    flex-flow: row nowrap;
}

.font-size {
    font-size: 1.3rem;
}

.navbar-toggler {
    padding: 1rem 0.75rem;
}


/* CONTAINERUL LA SEARCH */

.container-edited {
    float: right;
    max-width: 100%;
    padding-top: 1.5rem;
}

/*CAROUSEL*/

/*
Removes white gap between slides - chagnge to base color of slide images
*/
  .carousel {
    background: hsl(18, 92%, 95%);
  }
  
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel-item .img-fluid {
    width:100%;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    
  }

  /*SHADOW */

  .top-box {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  }

  /*PRIMARY COLOR */

  .green {
    color: hsl(163, 38%, 62%);
  }

  /* PRODUCTS */

  .card-product .info-wrap {
    border-top: 0;
  }

  .card {
    border-radius: 0.1rem;
  }

  /*SLIDER */

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #78C2AD;;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #78C2AD;
    cursor: pointer;
  }

  .custom-control {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  /*CUSTOMIZE INPUT */

  input[type="number"] {
    -moz-appearance: textfield;
  }

  label {
    color: darkslategrey;
  }

  /* ourStory title */

  .wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 17ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: "Montserrat";
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .font-size-text {
    font-size: 16px;
    text-align: justify;
    font-family: "Montserrat";
    letter-spacing: 3px;
    line-height: 2.5;
    
  }

  .input-group-prepend {
    margin-right: 0.5rem;
  }

  .w-10 {
    width: 10%;
  }

  .letter-spacing-small {
    letter-spacing: 0px;
    line-height: 2;
  }

  .letter-spacing-big {
    letter-spacing: 3px;
    line-height: 2.5;
  }

  .text-indent {
    text-indent: 2em;
  }

  .terms-and-conditions {
    max-width: 900px;
  }

  #image {
    background-image: url(../images/items/categories/100.jpg)
  }




  

  




