.header-bg {
    background-color: hsl(18, 92%, 95%);
}

.dropdown-menu {
    min-width: 7rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.1rem;
}

/* Sign in button and its drop down items */

.sign-in-button {
    background-color: hsl(163, 38%, 62%);
    border: none;
    text-decoration: none;
    color:rgba(0,0,0,0.15);
}

.dropdown-divider {
    margin: 0.2rem 0;
}

.dropdown-item {
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
}

.fa-bars{
    color: #888;
}

.form-control {
    height: calc(1em + 1rem + 2px);
    padding: 0.1rem 0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.btn-edit {
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.input-group-append {
    margin-left: -9px;
}

.form-inline {
    flex-flow: row nowrap;
}

.font-size {
    font-size: 1.3rem;
}

.navbar-toggler {
    padding: 1rem 0.75rem;
}

.no-col-padding {
    padding-right:10px;
    padding-left:10px;
}

.padding-top {
    padding-top: 1.5rem; 
    }

.margin-left {
    margin-left: 0;
}

.container-edited {
    float: right;
    max-width: 100%;
    padding-top: 1.5rem;
}



@media only screen and (min-width: 992px) {

    .margin-to-left {
        margin-left: 28rem;
    }

    .padding-left {
        margin-left: 5rem;
    }
}

/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    background: hsl(18, 92%, 95%);
  }
  
  /*
  Forces image to be 100% width and not max width of 100%
  */
  .carousel-item .img-fluid {
    width:100%;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }

  .top-box
  {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
  }

  .green {
    color: hsl(163, 38%, 62%);
  }




  




